.banner {
  width: 100%;
  height: 60px;
  margin-top:0;
  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 48%, rgba(255,207,147,1) 72%, rgba(255,205,143,1) 73%, rgba(255,175,75,1) 87%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,179,179,1)), color-stop(48%, rgba(255,249,242,1)), color-stop(72%, rgba(255,207,147,1)), color-stop(73%, rgba(255,205,143,1)), color-stop(87%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
  background: -webkit-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 48%, rgba(255,207,147,1) 72%, rgba(255,205,143,1) 73%, rgba(255,175,75,1) 87%, rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 48%, rgba(255,207,147,1) 72%, rgba(255,205,143,1) 73%, rgba(255,175,75,1) 87%, rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(top, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 48%, rgba(255,207,147,1) 72%, rgba(255,205,143,1) 73%, rgba(255,175,75,1) 87%, rgba(255,146,10,1) 100%);
  background: linear-gradient(to bottom, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 48%, rgba(255,207,147,1) 72%, rgba(255,205,143,1) 73%, rgba(255,175,75,1) 87%, rgba(255,146,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ff920a', GradientType=0 );
}.imgBanner{
   height:60px;
   margin-left:45px;
  
 }
.divBanner {
  margin-left: 40px;
  border-bottom-left-radius: 50px;
  height:60px;
  width:443px;
  background-color:white;
}
