.navbar-default {
  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(39%, rgba(255,249,242,1)), color-stop(60%, rgba(255,205,143,1)), color-stop(84%, rgba(255,176,78,1)), color-stop(85%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
  background: -webkit-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: linear-gradient(to right, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ff920a', GradientType=1 );
}

.navbar {
  height: 1500px;
  padding-left: 0;
  position: fixed;
}

a {
  color: #ff920a;
  background-color: white;
}

li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.nav {
  width: 150px;
}

.navbar-collapse {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 10px;
}

.navbar-header {
  background: rgba(179,179,179,1);
  background: -moz-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,179,179,1)), color-stop(39%, rgba(255,249,242,1)), color-stop(60%, rgba(255,205,143,1)), color-stop(84%, rgba(255,176,78,1)), color-stop(85%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
  background: -webkit-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -o-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  background: linear-gradient(to right, rgba(179,179,179,1) 0%, rgba(255,249,242,1) 39%, rgba(255,205,143,1) 60%, rgba(255,176,78,1) 84%, rgba(255,175,75,1) 85%, rgba(255,146,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ff920a', GradientType=1 );
}

.navbar-toggle {
  background-color: rgb(255,132,0);
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

@media (min-width: 768px) {
  .navbar-header {
    display: none;
  }
}
