
<div class='navbar navbar-default'>
  <div class='navbar-header'>
    <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
    </button>
    <a class='navbar-brand' [routerLink]='["/"]'>STC Metro</a>
  </div>
  <div class='clearfix'></div>
  <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
    <ul class='nav navbar-pills nav-stacked'>
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Inicio
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' class="dropdown">
        <a [routerLink]='["/solicitudes"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-play'></span> Catalogos
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Submenu 1-1</a></li>
          <li><a href="#">Submenu 1-2</a></li>
          <li><a href="#">Submenu 1-3</a></li>
        </ul>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/solicitudes"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-play'></span> Autorizar
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/solicitud"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-play'></span> Solicitar
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/solicitud"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-play'></span> Cargar
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/solicitud"]' (click)='collapse()'>
          <span class='fa fa-key'></span> Password
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/solicitud"]' (click)='collapse()'>
          <span class='fa fa-power-off'></span> Cerrar sesión
        </a>
      </li>
    </ul>
  </div>
</div>
