<h1>Solicitud de días económicos</h1>
<p>Favor de llenar los siguientes campos para realizar la solictud</p>
<form #solicitudesForm="ngForm" (ngSubmit)="save(solicitudesForm.value)">

  <input type="hidden" [(ngModel)]="solicitud.tintEstado" name="tintEstado" value="0">
  <input type="hidden" [(ngModel)]="solicitud.tintVacaciones" name="tintVacaciones" value="1">
  <input type="hidden" [(ngModel)]="solicitud.dateFechaSolicitud" name="dateFechaSolicitud" value="2018-12-20">
  <input matInput placeholder="FK_USUARIO_SOLICITA" [(ngModel)]="solicitud.FK_USUARIO_SOLICITA" name="FK_USUARIO_SOLICITA">
  <input matInput placeholder="FK_USUARIO_Valida" [(ngModel)]="solicitud.FK_USUARIO_VALIDA" name="FK_USUARIO_VALIDA">
  <p>
    <label>Fecha de inicio</label>
    <input type="date" [(ngModel)]="solicitud.dateFechaInicio" name="dateFechaInicio" />
  </p>
  <p>
    <label>Fecha de fin</label>
    <input type="date" [(ngModel)]="solicitud.dateFechaTermino" name="dateFechaTermino" />
  </p>
  <!--
      <input type="hidden" name="fecha_sol" [(ngModel)]="solicitud.dateFechaSolicitud" value>
      <input type="hidden" name="vacaciones" [(ngModel)]="solicitud.tintVacaciones">
      <input matInput placeholder="Usuario solicitante" [(ngModel)]="solicitud.FK_USUARIO_SOLICITA" required name="solicitante">
      <input matInput placeholder="Usuario Valida" [(ngModel)]="solicitud.FK_USUARIO_VALIDA" required name="valida">

      <p>
        <label>Fecha de inicio</label>
        <input type="date" name="fecha_ini" [(ngModel)]="solicitud.dateFechaInicio" />
      </p>
      <p>
        <label>Fecha de fin</label>
        <input type="date" name="fecha_fin" [(ngModel)]="solicitud.dateFechaTermino" />
      </p>-->
  <button mat-raised-button color="primary" type="submit">
    Guardar solicitud
  </button>
</form>

